<div class="main">
  
  <div class="centered">
      <form (ngSubmit)="onSubmitMovieSearch(movieSearch)" #movieSearch="ngForm">
          <h2>Search for a movie</h2>
          <div>
            <label for="query">Title:    </label>
            <input type="text"  name="query" [(ngModel)]="query">
          </div>
          <button class="btn" type="submit" >Search</button>
      </form>
  </div>
    
  <div *ngIf="movies.length > 0"> 
    <table class="result">
      <thead>
        <tr>
          <td>Title</td>
          <td>Release Date</td>
          <td>Episode</td>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let movie of movies">
            <td><a [routerLink]="['/movies', movie.title]">{{movie.title}}</a></td>
            <td>{{movie.release_date}}</td>
            <td>{{movie.episode_id}}</td>
          </tr>
      </tbody>
    </table>
  </div>


</div>